
<form class="col-md-8 mb-3 mx-auto" action="./" method="POST">

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-file-image-o"></i></span>
    </div>
    <input id="profileimage" name="profileimage" required="true" value="" class="form-control" type="text"
    placeholder="Paste image">
</div>
</form>